<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <h4 id="nomeAluno">Luis Paulino Xavier</h4>
  <p class="sub">Aluno com dislexia</p>
  <p class="info">Idade: 11 anos | Turma: 6º A</p>
  <h6>Observações:</h6>

  <p class="obs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut
      tincidunt libero. Fusce vel lorem.</p>
  <h6>Laudo Médico:</h6>
  

</ion-content>
