<ion-app>
  <ion-menu side="end" menuId="first" contentId="menufiltros">
    <ion-header>
      <ion-toolbar color="#9024a3">
        <ion-title>Filtros</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item> A </ion-item>
          <ion-item> B </ion-item>
          <ion-item> C </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menufiltros" main></ion-router-outlet>
</ion-app>
