<ion-app>
  <ion-menu side="end" menuId="first" contentId="menufiltros">
    <ion-header>
      <ion-toolbar color="#9024a3">
        <ion-title>Filtrar por turma</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item>6º A</ion-item>
          <ion-item>6º B</ion-item>
          <ion-item>6º C</ion-item>
          <ion-item>7º A</ion-item>
          <ion-item>7º B</ion-item>
          <ion-item>7º C</ion-item>
          <ion-item>8º A</ion-item>
          <ion-item>8º B</ion-item>
          <ion-item>8º C</ion-item>
          <ion-item>9º A</ion-item>
          <ion-item>9º B</ion-item>
          <ion-item>9º C</ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menufiltros" main></ion-router-outlet>
</ion-app>
