<ion-header>
  <ion-toolbar color="#9024a3">
    <ion-title>
      Escolas
    </ion-title>

    <!-- IDEIA: COLOCAR UM BOTÃO REDONDO COMO NA TELA DE POSTS -->
  </ion-toolbar>
</ion-header>

<ion-content class="fundoCinza">
  <ion-buttons slot="fixed" class="adicionar" routerLink="/addcescola"
    ><p>+</p></ion-buttons
  >

  <ion-list lines="none">
    <ion-item
      *ngFor="let esc of escolas"
      class="fundoCinza"
      routerLink="/perfilescola"
      class="lst-item"
    >
      <ion-card class="crd">
        <h3 class="card-title">
          {{esc.name}}
        </h3>
        <h2 class="card-subtitle">
          {{esc.city}}/{{esc.state}}
        </h2>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
