<ion-header>
  <ion-toolbar color="#9024a3">
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Escolas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item routerLink="/criarescola">
      <ion-label>Cadastrar nova escola</ion-label>
    </ion-item>
    <hr />
    <ion-item routerLink="/addescolas">
      <ion-label>Adicionar escola ao seu perfil</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
