<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Procurar" class="frm"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item routerLink="/perfilaluno">
      <ion-label>Aluno 1</ion-label>
    </ion-item>
    <ion-item routerLink="/perfilaluno">
      <ion-label>Aluno 2</ion-label>
    </ion-item>
    <ion-item routerLink="/perfilaluno">
      <ion-label>Aluno 3</ion-label>
    </ion-item>
    <ion-item routerLink="/perfilaluno">
      <ion-label>Aluno 4</ion-label>
    </ion-item>
    <ion-item routerLink="/perfilaluno">
      <ion-label>Aluno 5</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
