ion-title {
  width: 85%;
  height: 56px;
}

h6 {
  text-align: left;
  margin-left: 20px;
  color: #4f4f4f;
}

.obs {
  color: #4f4f4f;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #8c8c8c;
  width: 90%;
}
