<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>

    <ion-title>
      Entrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Insira seus dados para entrar no sistema</h4>

  
    <ion-input
      [(ngModel)]="username"
      placeholder="E-mail*"
      class="frm"
    ></ion-input>
  

  
    <ion-input
      class="frm"
      type="password"
      [(ngModel)]="password"
      placeholder="Senha*"
    ></ion-input>
  

  <button ion-button class="btn btnRoxo btnForm" routerLink="/escolas">
    Entrar
  </button>
  <p class="info">Esqueceu sua senha?</p>
</ion-content>
