ion-title {
  width: 80%;
  height: 56px;
}

.adicionar {
  position: absolute;
  right: 10px;
  bottom: 70px;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  background-color: #9024a3;
}

.adicionar p {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
}

ion-card {
  width: 100%;
}

.nomeProf {
  margin-bottom: 5px;
}

.card-subtitle {
  margin-top: 0;
}
