<ion-header>
  <ion-toolbar color="#9024a3">
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Evolução
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundoCinza">
  <ion-buttons
    slot="fixed"
    class="adicionar"
    routerLink="/escolas/{{escola_id}}/alunos/{{aluno_id}}/evolucao/categorias"
  >
    <p>+</p>
  </ion-buttons>

  <h4>Atividades executadas:</h4>

  <!-- FALTA ALINHAR À ESQUERDA -->
  <ion-list lines="none">
    <ion-item *ngFor="let pub of publi_cat_atv" class="fundoCinza itm">
      <ion-card>
        <h3 class="card-title nomeProf">
          Maria Rosa Almeida
        </h3>
        <h2 class="card-subtitle">
          {{pub.createdAt | date: 'dd/MM/yyyy'}}
        </h2>
        <h3 class="card-title textoPost">
          {{pub.content}}
        </h3>
        <!-- INSERIR ÍCONES DE CATEGORIA -->
        <!-- SE FOR UM POST FAVORITADO: ios-star -->
        <!-- SE NÃO FOR UM POST FAVORITADO: ios-star-outline -->
      </ion-card>
    </ion-item>
  </ion-list>

  <h4>Aprende melhor com:</h4>
  <ion-list lines="none">
    <ion-item *ngFor="let pub of publi_cat_aprende" class="fundoCinza itm">
      <ion-card>
        <h3 class="card-title nomeProf">
          Maria Rosa Almeida
        </h3>
        <h2 class="card-subtitle">
          {{pub.createdAt | date: 'dd/MM/yyyy'}}
        </h2>
        <h3 class="card-title textoPost">
          {{pub.content}}
        </h3>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
