<ion-header>
  <ion-toolbar color="#9024a3">
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Cadastrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Insira seus dados para se cadastrar no sistema</h4>

  <div>
    <ion-input [(ngModel)]="name" placeholder="Nome*" class="frm"></ion-input>
  </div>

  <ion-input
    [(ngModel)]="username"
    placeholder="E-mail*"
    class="frm"
  ></ion-input>

  <ion-input
    class="frm"
    name="pss"
    type="password"
    ngModel
    placeholder="Senha*"
  ></ion-input>

  <ion-input
    class="frm"
    name="pss-confirm"
    type="password"
    ngModel
    placeholder="Repita sua senha*"
  ></ion-input>

  <button ion-button class="btn btnRoxo btnForm" routerLink="/escolas">
    Cadastre-se
  </button>
</ion-content>
