<ion-header>
  <ion-toolbar color="#9024a3">
    <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-input placeholder="Procurar" class="frm" id="txtProc"></ion-input>
  </ion-item>

  <ion-list lines="none">
    <ion-item
      *ngFor="let alu of alunos"
      routerLink="/escolas/{{escola_id}}/alunos/{{alu.id}}"
    >
      <ion-label
        >{{alu.name}} {{alu.class.year}}º{{alu.class.letter}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
