<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Alunos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Procurar" class="frm"></ion-input>
  </ion-item>

  <ion-list>
      <ion-item  *ngFor="let alu of alunos" routerLink="/escolas/{{escola_id}}/alunos/{{alu.id}}">
        <ion-label>{{alu.name}}   {{alu.class.year}}º{{alu.class.letter}}</ion-label>
      </ion-item>                    
  </ion-list>
</ion-content>
