<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only class="btnNav" routerLink="/alunos">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 id="nomeAluno">Luis Paulino Xavier</h4>
  <p class="sub">Aluno com dislexia</p>
  <p class="info">Idade: 11 anos | Turma: 6º A</p>

  <button ion-button class="btn btnBranco btnForm">
    Informações gerais
  </button>

  <button ion-button class="btn btnRoxo" routerLink="/evolucao">
    Evolução escolar
  </button>
</ion-content>
