ion-title{
    width: 100%;
    height: 56px;
}

.adicionar{
    position: relative;
    left: 70%;
    top: 75%;
    color: white;
    font-size: 50px;
    border: 1px solid #9024a3;
    border-radius: 100px;
    height: 70px;
    width: 70px;
    background-color: #9024a3;
    padding-left: 18px;
}