<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only class="btnNav">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Escolas
    </ion-title>

    <!-- IDEIA: COLOCAR UM BOTÃO REDONDO COMO NA TELA DE POSTS -->
    <ion-buttons end>
      <button ion-button icon-only class="btnNav">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fundoCinza">
  <ion-list>
    <ion-item class="fundoCinza" routerLink="/alunos">
      <ion-card>
        <h3 class="card-title">
          Escola Estadual Professora Julia Rios Athayde
        </h3>
        <h2 class="card-subtitle">
          Sorocaba/SP
        </h2>
      </ion-card>
    </ion-item>

    <ion-item class="fundoCinza">
      <ion-card>
        <h3 class="card-title">
          Escola Municipal João Francisco Rosa
        </h3>
        <h2 class="card-subtitle">
          Sorocaba/SP
        </h2>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
